<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        .hidden {
            display: none;
        }
        #auth-widget-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        #auth-widget {
            padding: 60px;
            background-color: #f0f0f0;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            text-align: center;
        }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/res/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/res/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/res/icons/favicon-16x16.png">
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/res/icons/favicon-32x32.png">
</head>
<body>
    <main>
        <div id="auth-widget-container">
            <div id="auth-widget" class="hidden">
                <h2>Для доступа в сервис авторизуйтесь через Яндекс</h2> <br>
                <div id="auth-button-container"></div>
            </div>
        </div>
        <div class="container hidden">
            <div class="left-block">
                <img src="/static/res/logo.png" alt="Логотип" class="logo">
            </div>
            <div class="right-block">
                <h1>AI-КОНСТРУКТОР</h1>
                <p class="slogan">текстографические объявления</p>
                <button class="action-btn" onclick="window.location.href='/form-page'">Создать</button>
            </div>
        </div>
    </main>

    <!-- Yandex.Metrika counter -->
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            const sessionToken = document.cookie.replace(/(?:(?:^|.*;\s*)session_token\s*=\s*([^;]*).*$)|^.*$/, "$1");
            console.log(`Session token: ${sessionToken}`);
            
            if (sessionToken) {
                document.querySelector('.container').classList.remove('hidden');
                document.querySelector('#auth-widget-container').style.display = 'none';
            } else {
                document.querySelector('#auth-widget').classList.remove('hidden');
                window.YaAuthSuggest.init(
                    {
                        client_id: 'c8dad61dac4641b49d8c8d41e73a73e1',
                        response_type: "token",
                        redirect_uri: "https://irk-leader.ru/callback"
                    },
                    "https://irk-leader.ru",
                    {
                        view: "button",
                        parentId: "auth-button-container",
                        buttonSize: 'xl',
                        buttonView: 'main',
                        buttonTheme: 'light',
                        buttonBorderRadius: "22",
                        buttonIcon: 'ya',
                    }
                )
                .then(({handler}) => handler())
                .then(data => console.log('Сообщение с токеном', data))
                .catch(error => console.log('Обработка ошибки', error))
            }
        };

        window.addEventListener('message', function(event) {
            console.log('Received message:', event);
            console.log('Event origin:', event.origin);
            console.log('Window origin:', window.location.origin);
            if (event.origin !== window.location.origin) {
                console.warn('Origin mismatch:', event.origin);
                return;
            }
            if (event.data.type === 'authSuccess') {
                console.log('Auth success message received, reloading page');
                window.location.reload(); // Reload the main page on auth success
            }
        }, false);
    </script>
</body>
</html>
